@require "../setting/breakPoint.styl"
@require "../setting/color.styl"
@require "../setting/font.styl"

.header
  width app_size.desktop
  margin 0px auto 25px
  padding-top 80px

  @media screen and (max-width mobile)
    width app_size.mobile
    padding 25px 5px

  .header--wrapper
    display flex
    flex-direction row

  .header--title
    text-transform uppercase
    letter-spacing 15px
    color color_title
    title-text()

  .header--icon
    display flex
    flex-direction column
    justify-content space-around

    margin-left auto

    &:hover
      cursor pointer
