@require "../setting/breakPoint.styl"
@require "../setting/mixin.styl"
@require "../setting/color.styl"
@require "../setting/font.styl"

:root
  --bg-desktop-picture url("../../assets/images/bg-desktop-dark.jpg")
  --bg-mobile-picture url("../../assets/images/bg-mobile-dark.jpg")

:root[data-theme="light"]
  --bg-desktop-picture url("../../assets/images/bg-desktop-light.jpg")
  --bg-mobile-picture url("../../assets/images/bg-mobile-light.jpg")

picture = {
  desktop: var(--bg-desktop-picture),
  mobile: var(--bg-mobile-picture)
}

*
  margin 0%
  padding 0%
  overflow-anchor none

body
  margin auto

  color color_letter
  body-text()

  background color_background picture.desktop no-repeat

  @media screen and (max-width mobile)
    background color_background picture.mobile no-repeat
    background-size contain

ul
li
  text-decoration none
  list-style none
