@require "../setting/breakPoint.styl"
@require "../setting/mixin.styl"
@require "../setting/color.styl"
@require "../setting/font.styl"

config-layout()
  padding 25px

  color color_strikethrough

  background color_canvas

  @media screen and (max-width mobile)
    width app_size.mobile
    padding 25px 0px

config-button()
  color color_strikethrough

  background color_canvas
  border none
  body-text()

  &:hover
    color color_label
    cursor pointer

  &__active
    color color_active

    &:hover
      cursor pointer

.config
  display flex
  flex-direction row
  justify-content space-between

  border-radius(0px, 0px, 5px, 5px)
  config-layout()

  @media screen and (max-width mobile)
    justify-content space-around

  .config--reamining
    body-text()

  .config--filter
    display flex
    flex-direction row

    @media screen and (max-width mobile)
      display none

    .config--filter--item
      padding 0px 10px
      body-text()

  .config--clear
    body-text()

  .config--button
    config-button()


.alt-config
  display none

  margin 25px auto 0px
  width app_size.mobile

  border-radius(5px)

  config-layout()

  @media screen and (max-width mobile)
    display flex
    flex-direction row
    justify-content space-between

  .alt-config--reamining
    body-text()

  .alt-config--filter
    display flex
    flex-direction row
    justify-content space-around

    margin auto

    .alt-config--filter--item
      padding 0px 10px
      body-text()

  .alt-config--clear
    body-text()

  .alt-config--button
    config-button()
