// Theme
:root
  --color_background  hsl(235, 21%, 11%)
  --color_canvas hsl(235, 24%, 19%)
  --color_detail hsl(234, 39%, 85%)
  --color_letter hsl(236, 33%, 92%)
  --color_label hsl(234, 11%, 52%)

:root[data-theme="light"]
  --color_background hsl(236, 33%, 92%)
  --color_canvas hsl(0, 0%, 98%)
  --color_detail hsl(236, 9%, 61%)
  --color_letter hsl(235, 19%, 35%)
  --color_label hsl(233, 11%, 84%)

color_background = var(--color_background)
color_canvas = var(--color_canvas)
color_detail = var(--color_detail)
color_letter = var(--color_letter)
color_label = var(--color_label)
color_title = snow

// Gradient
gradient_decoration = linear-gradient(115deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))

// Status
// Active
color_active = hsl(220, 98%, 61%)
// Complete
color_strikethrough = hsl(233, 14%, 35%)
color_strikethrough_letter = hsl(237, 14%, 26%)
