# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/
*lock.json
*/.next/
credentials.json
public/uploads/
.env

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

*/.cache/
*/dist/
*/build/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
