.desktop-menu {
  width: 100px;
  height: auto;
  padding: 20px 20px 0% 20px;
  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
}

.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li a {
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
