.buy-detail {
  width: 360px;
  right: 0;
  position: absolute;
  padding: 24px;
  box-sizing: border-box;
}

.buy-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0% 0% 20px 20px;
}

.buy-title {
  font-size: var(--lg);
  font-weight: bold;
}

.buy-container {
  display: flex;
  align-items: center;
  margin: 24px 12px;
}

.buy-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}

.buying-card {
  grid-template-columns: auto 1fr auto auto;
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.buying-card figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.buying-card p:nth-child(2) {
  color: var(--very-light-pink);
}

.buying-card p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.remove-product {
  margin-right: 12px;
}
