@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

:root {
  --sm: 12px;
  --md: 14px;
  --lg: 18px;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}
