.mobile-menu {
  padding: 24px;
}

.mobile-menu a {
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul {
  margin: 24px 0 0;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu .mobile-email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.mobile-menu .mobile-signOut {
  font-size: var(--sm);
  color: var(--hospital-green);
  font-weight: 300 !important;
}

@media screen and (max-width: 640px) {
  .mobile-options {
    position: absolute;
    bottom: 0%;
  }
}
