* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
  font-family: "Roboto", sans-serif;
  background-color: lavender;
  padding: 0%;
  margin: 0%;
}

hr {
  border: 0.5px solid gray;
  margin: 3.5% auto;
  width: 80%;
}

.titleLabel {
  background-color: darkcyan;
  color: white;

  text-align: left;
  padding: 0.2% 0%;
}

.titleLabel h1 {
  font-family: "Times New Roman", Times, serif;
  background-color: darkcyan;
}

.titleLabel p {
  background-color: darkcyan;
  font-family: cursive;
}

.principal {
  display: flex;
}

.optionVideo {
  width: 100%;

  padding: 10px;
}

.optionVideo figure {
  display: flex;

  padding: 0.2em 0px;
}

.optionVideo figure figcaption {
  padding: 0 0.5em;
}

.optionVideo figure video {
  background-color: black;
  height: 100px;
  width: 25%;
}

.videoContainer {
  justify-content: center;
  flex-direction: column;
  display: flex;

  position: relative;

  padding: 15px 10px 0;
  height: 350px;
  width: 100vw;
}

.videoContainer video {
  background-color: black;
}

.videoControl {
  justify-content: space-between;
  display: flex;

  position: absolute;
  bottom: 0;

  width: 97%;

  padding: 0px 0px;
  background: none;
}

.videoControl input {
  background: none;
  display: inline;
  width: 90%;
}

.videoControl button {
  padding: 0.8%;

  border-radius: 0px;
  background: none;
  border: none;
}

.videoControl button i {
  background: none;
  color: white;
}

.timeFollower {
  display: inline-flex;

  padding: 8px;
  width: 10%;

  background: none;
  font-size: 12px;
  color: white;
}

.adsContainer {
  position: relative;
}

.ads,
.adsLink,
.adsImg,
.adsInfo,
.adsTitle,
.adsBody {
  background-color: #0e0f0e;
  border-radius: 8px;
}

.ads {
  position: absolute;
  display: flex;

  width: 80%;
}

.adsLink {
  display: flex;

  padding: 8px;

  text-decoration: none;
  color: white;
}

.adsImg {
  margin: auto 2%;

  height: 30px;
  width: 30px;
}

.adsTitle {
  font-size: 12px;
}

.adsBody {
  font-size: 10px;
}

#commentBox {
  width: 95%;
  margin: 1.2% auto;
}

#comments p {
  width: 98.5%;
  margin: 1.2% auto;
}

@media screen and (max-width: 900px) {
  .principal {
    flex-direction: column;
  }
  .optionVideo {
    padding: 0;
  }

  .videoContainer {
    padding: 15px 0px;
  }
}
