* {
  padding: 0%;
  margin: 0%;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0%;
  padding: 0%;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

header {
  color: white;
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;
  background-color: cornflowerblue;
}

main {
  justify-content: space-between;
  max-width: 800px;
  display: flex;
  padding: 20px;
  margin: auto;
}

main form {
  width: 40%;
}

main article {
  width: 45%;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

#title {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
textarea,
#destinationDetailsForm button {
  width: 100%;
  padding: 10px;
  display: block;
  margin-bottom: 1em;
  border: 1px solid #666;
  box-sizing: border-box;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #efefef;
}
