<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="login">
      <article class="login-container account-container">
        <h1 class="title align-start mb-12">My account</h1>
        <form action="" class="form account-form">
          <div class="form">
            <label for="name" class=""> Name</label>
            <input
              id="name"
              type="text"
              class="input mb-6"
              placeholder="Ejemplo Rodriguez"
            />
            <label for="email" class=""> Email address</label>
            <input
              id="email"
              type="text"
              class="input mb-6"
              placeholder="example@email.com"
            />
            <label for="password" class="password"> Password</label>
            <input
              id="password"
              type="password"
              class="input mb-6"
              placeholder="********"
            />
          </div>

          <input
            type="button"
            value="Create"
            class="primary-button login-button"
          />
        </form>
      </article>
    </section>
  </body>
</html>
