<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="login">
      <article class="login-container email-container">
        <img
          src="../assents/logos/logo_yard_sale.svg"
          alt="logo"
          class="logo"
        />
        <h1 class="title">Email has been sent!</h1>
        <p class="subtitle">
          Please check your inboc for intructions on how to reset the password
        </p>

        <div class="email-image">
          <img src="../assents/icons/email.svg" alt="email" />
        </div>

        <button class="primary-button login-button">Login</button>

        <p class="resend">
          <span>Didn't sent the email</span>
          <a href="/">Resend</a>
        </p>
      </article>
    </section>
  </body>
</html>
