<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="login">
      <article class="login-container">
        <img
          src="../assents/logos/logo_yard_sale.svg"
          alt="logo"
          class="logo"
        />
        <h1 class="title">Create a new password</h1>
        <p class="subtitle">Enter a new password for your account</p>
        <form action="" class="form">
          <label for="email" class=""> Email address</label>
          <input
            id="email"
            type="text"
            class="input email-input"
            placeholder="example@email.com"
            Sign
            up
          />
          <label for="password" class="password"> Password</label>
          <input
            id="password"
            type="password"
            placeholder="********"
            class="input input-password"
          />

          <input
            type="button"
            value="Confirm"
            class="primary-button login-button"
          />

          <a href="/" class="form-anchor">Forgot my password</a>
        </form>

        <button
          type="button"
          value="Confirm"
          class="secondary-button signup-button"
        >
          Sign up
        </button>
      </article>
    </section>
  </body>
</html>
