<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="desktop-menu">
      <ul>
        <li><a href="/" class="title">My orders</a></li>
        <li><a href="/" class="">My account</a></li>
        <li><a href="/" class="">Sign out</a></li>
      </ul>
    </section>
  </body>
</html>
