<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="mobile-menu">
      <ul>
        <li><a href="/" class="title">CATEGORIES</a></li>
        <li><a href="/" class="">All</a></li>
        <li><a href="/" class="">Clothes</a></li>
        <li><a href="/" class="">Electronics</a></li>
        <li><a href="/" class="">Fornitures</a></li>
        <li><a href="/" class="">Toys</a></li>
        <li><a href="/" class="">Other</a></li>
      </ul>
      <ul class="mobile-setting">
        <li><a href="/">My orders</a></li>
        <li><a href="/">My account</a></li>
      </ul>
      <ul class="mobile-options">
        <li><a href="/" class="mobile-email">example.com</a></li>
        <li><a href="/" class="mobile-signOut">Sign out</a></li>
      </ul>
    </section>
  </body>
</html>
