<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="order">
      <article class="order-container">
        <h1 class="order-title">My order</h1>
        <div class="order-content">
          <div class="bill">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
          </div>

          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>

          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


          <div class="shopping-card">
            <figure>
              <img
                srcset="
                  https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
                "
                src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Pedido"
              />
            </figure>
            <p>Bike</p>
            <p>$80.00</p>
          </div>


        </div>
      </article>
    </section>
  </body>
</html>
