<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="order">
      <article class="order-container">
        <h1 class="order-title">My orders</h1>
        <div class="order-content">
          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>

          <div class="billSummary">
            <p>
              <span>02/12/2021</span>
              <span>6 articulos</span>
            </p>
            <p>$540.00</p>
            <img
              src="../assents/icons/flechita.svg"
              alt="Arrow"
              srcset="../assents/icons/flechita.svg"
            />
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
