<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <aside class="product-detail">
      <div class="product-detail-close">
        <img src="../assents/icons/icon_close.png" alt="Cerrar" />
      </div>
      <img
        alt="Producto"
        src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        srcset="
          https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
        "
      />
      <div class="product-info">
        <p>$35.00</p>
        <p>Bike</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos
          repellat, facere et ex, unde sunt accusamus officiis recusandae
          laborum quasi a alias doloribus non quia nulla commodi aliquid
          excepturi.
        </p>
      </div>
      <button class="primary-button add-product-button">
        <img
          alt="Add"
          src="../assents/icons/bt_add_to_cart.svg"
          srcset="../assents/icons/bt_add_to_cart.svg"
        />
        Add product
      </button>
    </aside>
  </body>
</html>
