* {
  padding: 0%;
  margin: 0%;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
  font-family: "Roboto", sans-serif;
  background: #2f74c0;
  color: white;
}

.update {
  display: flex;
  padding: 10px;

  color: darkgray;
}

.update h3 {
  display: inline;
}

.update span {
  color: lightgray;
}

#state {
  display: flex;

  margin-left: auto;
  padding: 8px;
  width: 30%;

  border-radius: 8px;
  border: none;
}

.bannerContainer {
  position: relative;
}

.banner {
  flex-direction: column;
  display: flex;

  transform: translate(0%, 100%);
  position: absolute;
  left: 20%;
  top: 50%;

  padding: 15px;
  width: 60%;

  border: 0.5px solid white;
  border-radius: 15px;
}

.banner h1 {
  text-align: center;
  font-size: 3em;
}

.optionContainer {
  display: flex;

  margin: 15px 0px;
}

.option {
  margin: 0 auto;
  padding: 10px;

  border-radius: 15px;
  background: none;
  border: none;
  color: white;

  transition: color 1s;
}

.option:nth-child(1) {
  border: 0.5px solid limegreen;
}
.option:nth-child(2) {
  border: 0.5px solid red;
}

.option:nth-child(1):hover {
  background-color: limegreen;
}
.option:nth-child(2):hover {
  background-color: red;
}
