<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <aside class="buy-detail">
      <div class="buy-container">
        <img
          src="../assents/icons/flechita.svg"
          class="buy-arrow"
          alt="Arrow"
        />

        <p class="buy-title">My order</p>
      </div>
      <div class="order-content">
        <div class="buying-card">
          <figure>
            <img
              srcset="
                https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
              "
              src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Pedido"
            />
          </figure>
          <p>Bike</p>
          <p>$80.00</p>
          <img
            alt="Cerrar"
            class="remove-product"
            src="../assents/icons/icon_close.png"
            srcset="../assents/icons/icon_close.png"
          />
        </div>
      </div>

      <div class="order-content">
        <div class="buying-card">
          <figure>
            <img
              srcset="
                https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
              "
              src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Pedido"
            />
          </figure>
          <p>Bike</p>
          <p>$80.00</p>
          <img
            alt="Cerrar"
            class="remove-product"
            src="../assents/icons/icon_close.png"
            srcset="../assents/icons/icon_close.png"
          />
        </div>
      </div>

      <div class="order-content">
        <div class="buying-card">
          <figure>
            <img
              srcset="
                https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
              "
              src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Pedido"
            />
          </figure>
          <p>Bike</p>
          <p>$80.00</p>
          <img
            alt="Cerrar"
            class="remove-product"
            src="../assents/icons/icon_close.png"
            srcset="../assents/icons/icon_close.png"
          />
        </div>
      </div>

      <div class="order-content">
        <div class="buying-card">
          <figure>
            <img
              srcset="
                https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
              "
              src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Pedido"
            />
          </figure>
          <p>Bike</p>
          <p>$80.00</p>
          <img
            alt="Cerrar"
            class="remove-product"
            src="../assents/icons/icon_close.png"
            srcset="../assents/icons/icon_close.png"
          />
        </div>
      </div>

      <div class="order-content">
        <div class="buying-card">
          <figure>
            <img
              srcset="
                https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
              "
              src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt="Pedido"
            />
          </figure>
          <p>Bike</p>
          <p>$80.00</p>
          <img
            alt="Cerrar"
            class="remove-product"
            src="../assents/icons/icon_close.png"
            srcset="../assents/icons/icon_close.png"
          />
        </div>
      </div>

      <div class="bill">
        <p>
          <span>Total</span>
        </p>
        <p>$540.00</p>
      </div>

      <button class="primary-button">Checkout</button>
    </aside>
  </body>
</html>
