<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/main.css" />
    <title>Document</title>
  </head>
  <body class="quicksand">
    <section class="main-container">
      <article class="cards-container">
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
        <div class="product-card">
          <img
            srcset="
              https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
            "
            src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="Una bicicleta"
          />
          <div class="product-info">
            <div>
              <p>$180,00</p>
              <p>Bike</p>
            </div>
            <figure>
              <img
                srcset="../assents/icons/bt_add_to_cart.svg"
                src="../assents/icons/bt_add_to_cart.svg"
                alt="Agregar"
              />
            </figure>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
