<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../style/main.css" />
      <title>Document</title>
    </head>
    <body class="quicksand">
      <nav>
        <img
          alt="menu"
          class="menu"
          src="../assents/icons/icon_menu.svg"
          srcset="../assents/icons/icon_menu.svg"
        />
        <article class="navbar-left">
          <img
            alt="Logo"
            class="menu-logo"
            src="../assents/logos/logo_yard_sale.svg"
            srcset="../assents/logos/logo_yard_sale.svg"
          />
          <ul>
            <li><a href="/">All</a></li>
            <li><a href="/">Clothes</a></li>
            <li><a href="/">Eletronics</a></li>
            <li><a href="/">Fornitures</a></li>
            <li><a href="/">Toys</a></li>
            <li><a href="/">Others</a></li>
          </ul>
        </article>
        <article class="navbar-right">
          <ul>
            <li class="navbar-email">example@gmail.com</li>
            <li class="navbar-shopping-card">
              <img
                alt="Carrito de compra"
                src="../assents/icons/icon_shopping_cart.svg"
                srcset="../assents/icons/icon_shopping_cart.svg"
              />
              <div>2</div>
            </li>
          </ul>
        </article>
      </nav>
    </body>
  </html>
</DOCTYPE>
