@import "../setting/color.scss";

.menu {
  margin: 0.5% auto;
  width: 50%;
  background: $canvas;
  .menu--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 15px;
    .menu--item {
      flex: 1;
      text-align: center;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
      }
      .active {
        color: $detail;
      }
    }
  }
}
