/* quicksand-300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/quicksand-v28-latin-300.woff2") format("woff2"),
    url("../fonts/quicksand-v28-latin-300.woff") format("woff");
}

/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand-v28-latin-regular.woff2") format("woff2"),
    url("../fonts/quicksand-v28-latin-regular.woff") format("woff");
}

/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/quicksand-v28-latin-500.woff2") format("woff2"),
    url("../fonts/quicksand-v28-latin-500.woff") format("woff");
}

/* quicksand-700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand-v28-latin-700.woff2") format("woff2"),
    url("../fonts/quicksand-v28-latin-700.woff") format("woff");
}

:root {
  --sm: 12px;
  --md: 14px;
  --lg: 18px;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}
