@font-face {
  font-family: "quicksand";
  src: url("../assets/fonts/quicksand-v28-latin-300.woff") format("woff"),
    url("../assets/fonts/quicksand-v28-latin-300.woff2") format("woff2"),
    url("../assets/fonts/quicksand-v28-latin-500.woff") format("woff"),
    url("../assets/fonts/quicksand-v28-latin-500.woff2") format("woff2"),
    url("../assets/fonts/quicksand-v28-latin-700.woff") format("woff"),
    url("../assets/fonts/quicksand-v28-latin-700.woff2") format("woff2"),
    url("../assets/fonts/quicksand-v28-latin-regular.woff") format("woff"),
    url("../assets/fonts/quicksand-v28-latin-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

$text: "quicksand", sans-serif;

body {
  font-family: $text;
  padding: 0%;
  margin: 0%;
}
