@require "../setting/breakPoint.styl"
@require "../setting/mixin.styl"
@require "../setting/color.styl"
@require "../setting/font.styl"

todo()
  display flex
  justify-content space-around

  padding 20px

  background-color color_canvas

  @media screen and (max-width mobile)
    width app_size.mobile

todo-icon()
  position relative
  margin auto

  width 1.25em
  height 1.25em

  border 1px solid color_strikethrough
  background-color color_canvas

  border-radius(50%)

  &:hover
    cursor pointer

  &__complete
    background gradient_decoration

todo-image()
  display none
  position absolute

  top 50%
  left 50%
  transform translate(-50%, -50%)

  &__complete
    display block

todo-description()
  border none
  outline none
  background-color color_canvas

  body-text()

  &:focus
    color color_letter

  &__complete
    color color_label
    text-decoration line-through


.addTodo
  margin-bottom 30px

  box-shadow(color_background)
  border-radius(5px)
  todo()

  @media screen and (max-width mobile)
    padding 25px 0px

  .addTodo--icon
    todo-icon()

    .addTodo--icon--image
      todo-image()
  .addTodo--description
    padding-right 5%
    width 85%

    color color_strikethrough_letter

    todo-description()

    @media screen and (max-width mobile)
      width 75%


.todo
  border-bottom 1px solid color_strikethrough

  box-shadow(color_background)
  todo()

  &:first-child
    border-radius(5px, 5px, 0px, 0px)

  @media screen and (max-width mobile)
    padding 25px 0px

  .todo--icon
    todo-icon()
    .todo--icon--image
      todo-image()
  .todo--description
    display flex
    justify-content end
    flex-direction column

    width 80%
    color color_letter

    todo-description()

    @media screen and (max-width mobile)
      width 60%

  .todo--cross
    position relative

    margin auto
    width 1.25em
    height 1.25em

    .todo--cross--image
      position absolute

      top 50%
      left 50%
      transform translate(-50%, -50%)

