@import "../basic.scss";

.verification {
  display: flex;
  flex-direction: column;

  text-align: center;
  .verification--title {
    margin-top: 64px;

    color: $label;
    font-size: 32px;
    font-weight: 800;
  }
  .verification--text {
    margin: 24px auto;

    font-style: italic;
  }
  .verification--wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    & > * {
      padding: 5px;
      width: 25%;

      text-align: center;
      border: none;
    }
    .verification--input {
      color: $canvas;
    }
    .verification--button {
      background: $canvas;
      &:disabled {
        background: $background;
      }
    }
  }
}
