* {
  font-family: "Nunito";
  color: $text;
  padding: 0%;
  margin: 0%;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
  color: $text;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  margin: 0.8% auto;
  background-color: $gray;
}
