@font-face
  font-style normal
  font-family JosefinSans
  src url("../../assets/fonts/JosefinSans.ttf")


titles-font = "JosefinSans", Arial, sans-serif
titles-weight = 700
titles-size = 42px

text-font = "JosefinSans", Arial, sans-serif
text-weight = 400
text-size = 18px

body-text()
  font-size text-size
  font-family text-font
  font-weight text-weight

title-text()
  font-size titles-size
  font-family titles-font
  font-weight titles-weight
